<div class="flex flex-col gap-20 justify-center items-center h-screen">

  <div class="flex justify-center items-center space-x-4">
    <img ngSrc="assets/angular_logo.png" class="w-32 h-32 filter drop-shadow-[0_0_10px_rgba(255,255,255,0.2)]"
         height="1200" width="1200" alt="Frontend Logo">
    <h1 *ngIf="pictureUrl" class="text-center text-4xl">X</h1>
    <img *ngIf="pictureUrl" ngSrc="{{this.pictureUrl}}"
         [ngClass]="{'w-28 h-28': pictureUrl === BackendPictures.spring}"
         class="w-32 h-32 filter drop-shadow-[0_0_10px_rgba(255,255,255,0.2)]"
         height="512" width="512" alt="Backend Logo">
  </div>

  <button class="btn btn-active btn-primary min-w-60">Start</button>
</div>

